#NavBar-wrapper {
  .header {
    padding: 60px 10px;
    color: black;
  }
  
  .or {
    vertical-align: center;
    align-self: center;
    margin-bottom: 0 !important;
  }
  
  .members-DD {
    vertical-align: bottom;
  }
  
  .menu {
    display: none;
  }
  
  @media (max-width: 960px) {
    header {
      display: block;
    }
    .menu {
      display: block;
    }
    header a {
      display: none;
    }
  }
  
  @media (min-width: 1366px) {
    /* Desktop */
  }
}